<app-header></app-header>
<main class="container-sections">
    <div class="container-intro">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-2.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-3.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-4.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-5.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-6.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-7.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-8.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-9.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-10.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-11.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-12.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-13.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-14.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-15.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-16.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-17.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-18.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-19.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-20.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-21.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-22.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-23.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-24.jpg" alt="">
        <img class="animate-bg" src="../../../../assets/bg-intro/bg-img-25.jpg" alt="">
        <h1 class="title">
            <span class="title-item">Bienvenido</span>
            <span class="title-item">a</span>
            <span class="title-item">Hogwarts</span>
        </h1>
    </div>
    <div class="container-gallery">
        <img [src]="images[currentIndex]" alt="" class="img-gallery">
        <div class="slide-buttons">
            <button (click)="slideLeft()"><img src="../../../../assets/util_images/arrow-left.png" alt=""></button>
            <button (click)="slideRight()"><img src="../../../../assets/util_images/arrow-right.png" alt=""></button>
        </div>
    </div>
</main>
